<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-DlIlBVvbeRQxTkcB14WbfMmkRrTiGFE</string>
	<key>GCM_SENDER_ID</key>
	<string>433762932321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ruben.SaveLink</string>
	<key>PROJECT_ID</key>
	<string>savelink-9e6b0</string>
	<key>STORAGE_BUCKET</key>
	<string>savelink-9e6b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:433762932321:ios:f26e8debf84b8394cdfc20</string>
</dict>
</plist>
